.cart-table{
    thead{
        tr{
            th{
                padding: 15px;
                text-align: center;
                background-color: rgb(68, 68, 68);
                color : #fff;
                border: 1px solid #ddd;
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 5px 10px ;
                text-align: center;
                border: 1px solid #ddd;
            }
        }
    }
}